<!doctype html>
<html lang="en">

<head>
    <!-- require *ejs -->
    <!-- TODO: add ejs to dependencies -->
    <%- include('includes/styles.ejs', {title: "New Fake News" })%>
</head>

<body>
    <%- include('includes/navbar.ejs') %>


        <!-- creade default page with row and column -->
        <div class="container p-5">
            <!-- centered row  -->

            <div class="row justify-content-center">
                <div class="col-md-6">
                    <h1>Create post</h1>
                    <!-- card div  -->

                    <div class="card text-white bg-dark w-100">
                        <div class="card-body">

                            <form action="/new" name="form" id="form" method="POST">
                                <div class="form-group">
                                    <label for="title">Title</label>
                                    <input type="text" class="form-control" id="title" name="title" placeholder="Title"
                                        required>
                                </div>
                                <div class="form-group">
                                    <label for="body">Description</label>
                                    <textarea class="form-control" id="description" name="description" rows="3"
                                        required></textarea>
                                </div>
                                <div class="form-group">
                                    <label for="link">Link</label>
                                    <input type="text" class="form-control" id="link" name="link" placeholder="https://">
                                </div>

                                <button type="submit" class="btn btn-success my-2 w-100">Submit</button>

                            </form>


                        </div>
                    </div>


                </div>
            </div>

        </div>
        <script>
            // get data from form and send it to server
            //import jquery

            let form = document.getElementById('form');
            // form.on submit 
            form.addEventListener('submit', function (e) {
                e.preventDefault();
                // get data from form
                let title = document.getElementById('title').value;
                let description = document.getElementById('description').value;
                let link = document.getElementById('link').value;
                // send data to server
                fetch('/new-article', {
                    method: 'POST',
                    redirect: 'follow',
                    headers: {
                        'Content-Type': 'application/json'
                    },
                    body: JSON.stringify({
                        title: title,
                        description: description,
                        link: link
                    })
                })
                    .then(function (response) {
                        // return response.json();
                        // return response;

                        if (response.redirected) {
                            window.location.href = response.url;
                        }
                    })
                    .then(function (data) {
                        console.log(data);
                    })
                    .catch(function (err) {
                        console.log(err);
                    });
            });



        </script>
        <%- include('includes/scripts.ejs') %>
</body>

</html>